SF_USERNAME=seu_usuario@salesforce.com
SF_PASSWORD=sua_senha
SF_SECURITY_TOKEN=seu_token
# Opcional (Connected App): usar par SF_CONSUMER_KEY/SF_CONSUMER_SECRET
SF_CONSUMER_KEY=sua_connected_app_consumer_key
SF_CONSUMER_SECRET=sua_connected_app_consumer_secret
SF_DOMAIN=login
PORT=8081
